.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.title {
  margin-bottom: 10px;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 5px;
}

.submit {
  margin: 10px;
}
