/*  ICONS  */
.icon {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  display: flex;
  justify-content: space-between;
}

.icon__account, 
.icon__home, 
.icon__settings {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: .3rem .3rem .6rem var(--greyLight-2), 
              -.2rem -.2rem .5rem var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: var(--greyDark);
  transition: all .5s ease;
}

.icon__account:active,
.icon__home:active,
.icon__settings:active{
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
              inset -.2rem -.2rem .5rem var(--white);
  color: var(--primary);
}

.icon__account:hover,
.icon__home:hover,
.icon__settings:hover{
  color: var(--primary);
}