.mt-3 {
  margin-top: 2rem;
}

.mr-1 {
  margin-right: .5rem;
}

.pb-1 {
  padding-bottom: .5rem;
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline-block;
}

.user-name{
  display: flex;
  flex-direction: column;
}
